[Desktop Entry]
Version=1.0
Type=Application
Name=New Application
Comment=Edit this description
Exec=/path/to/command
Icon=utilities-terminal
Terminal=false
Categories=Utility;
StartupNotify=false
